<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}الصفحة الرئيسية{% endblock %}</title>
    <style>
      body,title,a {
        background-color: #ffdee9;
        background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
        margin: 50px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% block content %} 
    {% endblock %}
  </body>
</html>
