h1,
h2 {
    color: white;
    text-align: center;

}

h1 {
 
    font-size: 1.5rem;
    margin: 5rem 0 3rem 0;
    font-weight: normal;
 color: #cf54a6;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

.fallback {
    text-align: center;
    color: white;
}