ul {
    list-style: none;
    width: 90%;
    margin: 2rem auto;
    max-width: 20rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 26);
    padding: 1rem;
    border-radius: 12px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}




li {
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;



}

li a {
    text-decoration: none;
    color: #436fb1;
}

li:last-of-type {
    border-bottom: none;
}

li a:hover,
li a:active {
    color: #7e0154;
}